body{
    font-family: "Futura Lt BT";
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.body1-wrapper {
    text-align: center;
    height: 600px;
    background-color: #fff;
    padding: 0 5% 80px 5%;
    color: #2c5311;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
}

.heading h2 {
    font-weight: bold;
    font-family: "Futura Hv BT";
    font-size: 50px;
}

.heading p {
    font-size: 40px;
    line-height: 13px;
}

.menu {
    float:left;
    width: 25%;
}

.menu-icon img{
    height: 180px;
}

.text-contents {
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 25px
}

.kontak {
    text-align: center;
    background-color: #a2d39c;
    padding: 0 5% 80px 5%;
    color:#2c5311;
}

.kontak h1{
    padding-top: 80px;
}
.kontak p{
    font-size: 20px;
    padding-top: 10px;
}

button{
    background-color: #2c5311;
    color: #fff;
    padding: 10px;
}

header {
    width: 100%;
    height: 65px;
    background-color: rgba(198, 197, 193, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 124px;
    margin: 20px 0;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    background-color: rgba(44, 83, 17, 0.3);
    transition: all 0.5s;
}

.header-right:hover {
    background-color: rgba(44, 83, 17, 0.9);
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #c6c5c1;
    padding-top: 30px;
    padding-bottom: 15px
}

.footer-left {
    float: left;
    margin: 25px 25px;
}

.footer-left img {
    width: 200px;
}

.footer-left p {
    font-family: Futura;
    font-size: 13px;
    color: #2c5311;
    padding-left: 25px;
}

.footer-right {
    float: right;
    margin: 25px 25px;
}

.footer-right p {
    font-family: Futura;
    font-size: 18px;
    color: #2c5311;
}

.fab {
    margin-right: 15px;
    font-size: 30px;
    color: #2c5311;
}
